.image-container {
  position: relative;
  min-height: 22rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-container {
  position: relative;
  min-width: 10rem;
  min-height: 8rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: grey;
}

.background-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
}
