.background-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: grey;
}

.background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
}